/* Svg Icons*/

.svg-phone {
    width: 18px;
    height: 24px;
    fill:black;
   
}

.svg-email {
    width: 24px;
    height: 24px;
    fill:#574E56;
}

.svg-instagram {
    width: 24px;
    height: 24px;
    fill:black;
}

.svg-behance {
    width: 24px;
    height: 15px;
    fill:black;
}

.svg-arrow-right, 
.svg-play-video {
    width: 12px;
    height: 13px;
    fill:white;
}

.svg-arrow-left {
    width: 12px;
    height: 14px;
    fill:white;

}

.svg-address {
    width: 23px;
    height: 33px;
    fill:black;
}

.svg-pinterest {
    width: 24px;
    height: 24px;
    fill:black;
}

.svg-telegram {
    width: 42px;
    height: 42px;
    
}